.product {
  width: 300px;
  height: 510px;
  border-radius: 8px;
  border: 1px solid #95a0a7;

  position: relative;
}
.product img {
   width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}
.product-name {
  margin-bottom: 0;
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.032px;
}
.product-info {
  margin-left: 14px;
}
.product-info p {
  margin-top: 5px;
}
.btn-cart {
  width: 100%;
  border-radius: 0px 0px 8px 8px;
  border: 1px solid #95a0a7;

  background: #ffe0b3;
  position: absolute;
  bottom: 0;
}
.btn-cart:hover {
  background-color: orange;
}
